/*======= Grow Business Section css start =======*/
.grow_business {
  background: linear-gradient(rgba(161, 119, 218, 1), rgba(97, 85, 226, 1));
}

/*+++=Business Left side =+++*/
.business_box {
  gap: 30px;
}

.business_left_cards {
  width: 50%;
  max-width: 100%;
  .cards {
    gap: 30px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.business_card {
  background-color: $primary-bgcolor;
  padding: 20px 30px;
  border: 2px solid rgba(255, 128, 135, 0.14);
  border-radius: 30px;
  max-width: 375px;
  width: 100%;
  .heading-4 {
    margin: 40px 0 20px;
  }
  p {
    font-size: 22px;
    line-height: 28px;
    color: $third-tcolor;
  }
}
.business_card_icon {
  padding: 30px;
  position: relative;
  background-image: linear-gradient();
  background-color: rgba(57, 28, 221, 0.1);
  border-radius: 30px;
  display: inline-block;
  text-align: center;
}

/*+++=Business Right side =+++*/
.business_right_side {
  display: flex;
  flex-direction: column;
  max-width: 665px;
  width: 100%;
  .heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    color: $primary-tcolor;
  }
  .heading-2 {
    color: $primary-tcolor;
    margin: 20px auto 30px;
  }
  .featuer_contents {
    margin-bottom: 60px;
    p {
      color: $primary-tcolor;
    }
  }
  .feature_btn {
    color: rgba(161, 119, 218, 1) !important;
    background: $primary-bgcolor !important;
  }
  .business-btn {
    margin: auto 0 0;
  }
}
/*======= RESPONSIVE START =======*/
/*======= Our Feature Section Responsive start =======*/
/*==== Responsive at 1200 ====*/
@media only screen and (max-width: 1200px) {
  /*+++=Business Right side =+++*/
  .business_right_side {
    max-width: 50%;
  }
}

/*==== Responsive at 991 ====*/
@media only screen and (max-width: 991px) {
  .business_box {
    flex-direction: column;
    align-items: center;
  }

  /*+++=Business Left side =+++*/
  .business_left_cards {
    width: 100%;
    max-width: 100%;
    .cards {
      //   gap: 30px;
      justify-content: center;
    }
  }
  .business_card_icon {
    padding: 20px;
    border-radius: 15px;
  }

  /*+++=Business Right side =+++*/
  .business_right_side {
    max-width: 100%;
    .heading {
      text-align: center;
    }
    .heading-2 {
      text-align: center;
    }
    .featuer_contents {
      text-align: center;
    }
    .feature_btn {
      max-width: 350px;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

/*==== Responsive at 768 ====*/
@media only screen and (max-width: 768px) {
  .business_card_icon {
    padding: 20px;
    border-radius: 20px;
  }
  .business_card {
    .heading-4 {
      margin: 20px 0 10px;
    }
  }
  /*+++=Business Right side =+++*/
  .business_right_side {
    .heading-2 {
      text-align: center;
      margin: 20px auto 35px;
    }
    .featuer_contents {
      margin-bottom: 40px;
    }
  }
}

/*==== Responsive at 575 ====*/
@media only screen and (max-width: 575px) {
  .business_card_icon {
    padding: 10px;
    border-radius: 10px;
  }
  .business_card {
    padding: 15px;
    .heading-4 {
      margin: 10px 0 5px;
    }
    p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
/*==== Responsive at 575 ====*/
@media only screen and (max-width: 480px) {
  /*+++=Business Left side =+++*/
  .business_left_cards {
    // width: 100%;
    // max-width: 100%;
    .cards {
      gap: 20px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
/*======= Our Feature Section css End =======*/

/*=======******************************======*/
