/*======= Header Section css start =======*/
.header {
  position: absolute;
  top: 40px;
  left: 0%;
  right: 0%;
  z-index: 9;
}
.navbar {
  background-color: aliceblue;
  border-radius: 50px;
  padding: 20px 30px;
}

.navbar_grid.dflex {
  align-items: center;
  gap: 108px;
}

.nav_list.dflex {
  gap: 60px;
  flex-grow: 1;
}

.nav_item {
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #a177da;
    transition: all 0.4s;
  }
}
@media (hover: hover) {
  .nav_item:hover {
    &:after {
      width: 100%;
    }
  }
  .nav_item:hover > .nav_link {
    animation: rotate 0.8s;
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.nav_link {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #303030;
  opacity: 0.8;
  transition: all 0.3s;
}
.btn_mobile {
  display: none;
}

.contact_link {
  background: linear-gradient(270deg, #a177da -8.4%, #6155e2 107.56%);
  border-radius: 30px;
  width: 161px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  color: #ffffff;
  padding-left: 30px;
  position: relative;
}
/* hover effect on contact button of header */
@media (hover: hover) {
  .contact_link:hover {
    .contact_icon {
      left: 50%;
      transform: translateX(-50%);
    }
    .contact_text {
      opacity: 0;
    }
  }
}

.contact_text {
  transition: 0.5s ease-in-out;
}

.contact_icon {
  position: absolute;
  transition: 0.8s;
  left: 24px;
  transform: translateX(0%);
}

.header_toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

/*======= Header Section Responsive start =======*/
/*==== Responsive at 1200 ====*/
@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 16px 30px;
  }

  .navbar_grid.dflex {
    gap: 0 70px;
  }

  .contact_link {
    font-size: 22px;
    line-height: 24px;
  }

  .nav_list.dflex {
    gap: 20px;
  }
}
@media only screen and (max-width: 991px) {
}

/*==== Responsive at 768 ====*/
@media only screen and (max-width: 768px) {
  .navbar_grid.dflex {
    justify-content: space-between;
  }
  .btn_mobile {
    display: block;
    margin: 0 auto 20px;
  }
  .btn_desktop {
    display: none;
  }
}
/*+++++++ Toggle css start ++++++++*/

@media only screen and (max-width: 768px) {
  .navbar_grid {
    flex-wrap: wrap;
  }
  .header_toggle {
    display: block;
    background: none;
    border: none;
    transition: all 0.5s;
    .bar {
      background-color: grey;
      transition: all 0.3s;
    }
    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  .navbar {
    border-radius: 25px;
  }
  .nav_list {
    order: 3;
    width: 100%;
    flex-direction: column;
    background-color: aliceblue;
    height: 0;
    overflow: hidden;
    overflow-y: scroll;
    transition: all 0.4s;
    .dflex {
      gap: 10px;
    }
  }
}

/*+++++++ Toggle css End ++++++++*/

/*==== Responsive at 575 ====*/
@media only screen and (max-width: 575px) {
  .navbar {
    padding: 5px 30px;
  }
}

/*======= Header Section End =======*/
