@font-face {
    font-family: 'Harmattan';
    src: url('Harmattan-Regular.woff2') format('woff2'),
        url('Harmattan-Regular.woff') format('woff'),
        url('Harmattan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harmattan';
    src: url('Harmattan-Bold.woff2') format('woff2'),
        url('Harmattan-Bold.woff') format('woff'),
        url('Harmattan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

